blockquote {
    border-left: 3px solid rgba(0, 0, 0, 0.5);
    padding: 0.5rem 0 0.5rem 1rem;
}

.post-title {
    color: rgb(106, 27, 154);
    border-bottom: 1px solid rgb(106, 27, 154);
}

.container-medium {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.text-75-percent {
    font-size: 75%;
}

/* roll formatting */
