{% extends 'base.jinja2' %}

{% block body %}

<div class="container">
  <h3>Create a new campaign</h3>
  <form action="{{ url_for('base.campaign_create') }}" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Name of campaign" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-success">Create new</button>
  </form>
</div>

{% endblock %}
