{% extends 'base.jinja2' %}

{% block body %}

<div class="container">
  <h1>Campaigns</h1>
  <br>
  {# TODO order with the campaigns the user has characters in at the top, with some sort of identification of 'in this campaign' #}
  {# FIXME styling #}
  {% for campaign in campaigns %}
    <h4><a href="{{ url_for('base.campaign_posts', campaign_id=campaign.id) }}">{{ campaign.name }}</a></h4>
  {% endfor %}
  <hr style="margin-top: 3rem;">
  <h3>Create a new campaign</h3>
  <form action="{{ url_for('base.campaigns') }}" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Name of campaign" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create new</button>
  </form>
</div>

{% endblock %}
