{% extends 'base.jinja2' %}

{% block body %}

<div class="container-medium">
  {# TODO pagination #}
  <div class="clearfix">
    <h2 class="float-left">{{ campaign.name }}</h2>
    <div class="float-right">
      {% if current_user.should_show_join_link(campaign) %}
        <a href="{{ url_for('base.campaign_join', campaign_id=campaign.id) }}" class="btn btn-outline-primary">Join</a>
      {% endif %}
      <a href="{{ url_for('base.campaign_info', campaign_id=campaign.id) }}" class='btn btn-outline-primary'>Info</a>
      {% if current_user.is_dm_to_campaign(campaign) %}
        <a href="#" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" title="Not yet enabled" disabled>DM controls</a>
      {% endif %}
    </div>
  </div>
  {% for post in posts %}
    <div class="card rounded shadow mb-2">
      <div class="card-body">
        <div class="card-title clearfix post-title">
          {# TODO post editing #}
          <h5 class="float-left">{{ post.character.name }}{% if post.tag %} <span class="text-75-percent">({{ post.tag }})</span>{% endif %}</h5>
          <h5 class="float-right">{{ post.date | format_date }}</h5>
        </div>
        {{ post.content }}
        <div id="rolls">
          {% for roll in post.rolls %}
            <div class="roll">
              {{ roll.string }} => {{ roll.value }}{% if roll.is_crit %} (crit){% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <br><br>
    <h4>No posts have been made in this campaign yet.</h4>
  {% endfor %}
  {% if current_user.get_character_in_campaign(campaign) %}
    <br><br><br><hr>
    <h4>New post</h4>
    <div id="app">
      <form action="{{ url_for('base.campaign_new_post', campaign_id=campaign.id) }}" method="POST">
        <input type="hidden" name="content" v-model="newPost">
        <vue-editor v-model="newPost" :editor-toolbar="toolbar"></vue-editor>
        <button type="submit" class="btn btn-outline-success" :disabled="!valid" style="margin-top: 5px;">Post</button>
      </form>
      {# TODO also going to need a widget for rolling dice just like before, so this is only half finished #}
    </div>

    <script>
      $(document).ready(function() {
        new Vue({
          el: '#app',
          components: {
            'vue-editor': VueEditor
          },
          data: {
            newPost: '',
            toolbar: [
              ['bold', 'italic'],
              [{ 'header': [false, 3, 6] }],
              [{ list: 'bullet' }],
              [{ color: ['blue', 'black'] }, 'clean']
            ]
          },
          computed: {
            valid() {
              return this.newPost.length > 0 && this.newPost !== '<p><br></p>'
            }
          }
        })
      })
    </script>
  {% endif %}
</div>

{% endblock %}
