{% extends 'base.jinja2' %}

{% block body %}

<div class="container-medium">
  {# TODO pagination #}
  <div class="clearfix">
    <h2 class="float-left">{{ campaign.name }}</h2>
    {% if not current_user.is_member_of_campaign(campaign) %}
      <div class="float-right">
        <a href="{{ url_for('base.campaign_join', campaign_id=campaign.id) }}" class="btn btn-outline-primary">Join</a>
      </div>
    {% endif %}
  </div>
  {% for post in posts %}
    <div class="card rounded shadow mb-2">
      <div class="card-body">
        <div class="card-title clearfix post-title">
          <h5 class="float-left">{{ post.character.name }} ({{ post.tag }})</h5>
          <h5 class="float-right">{{ post.date | format_date }}</h5>
        </div>
        {{ post.content }}
        <div id="rolls">
          {% for roll in post.rolls %}
            <div class="roll">
              {{ roll.string }} => {{ roll.value }}{% if roll.is_crit %} (crit){% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <br><br>
    <h4>No posts have been made in this campaign yet.</h4>
  {% endfor %}
  <br><br><br><hr>
  <h4>New post</h4>
  {#
    TODO need a WYSIWYG editor
      Quill - doesn't work
      Summernote - can't configure the colors
      Vue2Editor - need full webpack build
  #}
  <form action="{{ url_for('base.campaign_new_post', campaign_id=campaign.id) }}">
    <textarea name="content"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Post</button>
    {# TODO also going to need a widget for rolling dice, like before #}
  </form>

  {#
    TODO editor form for making a new post
    Need to make sure that the user has a character that's in the campaign
      Right now, can assume that only 1 character is in the campaign per user
  #}
</div>

{% endblock %}
