{% extends 'base.jinja2' %}

{% block body %}

<div class="container">
  <h1>404 - nothing here!</h1>
  <div style="padding-bottom: 2rem;"></div>
  <h4>There's nothing here. If you landed here with a bookmark, it's no longer valid.</h4>
</div>

{% endblock %}
