{% extends 'base.jinja2' %}

{% block body %}

<div id="app">
  <div class="container">
    <h1>Characters</h1>
    <br>
    {% if characters %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Name</th>
            <th colspan="2">Tag</th>
            <th colspan="2">Campaign</th>
          </tr>
        </thead>
        <tbody>
          {% for character in characters %}
            <tr>
              <td>{{ character.name }}</td>
              <td>
                {% if not character.name == 'DM' %}
                  <button type="button" class="btn btn-outline-success" @click="editName({{ character.id }}, '{{ character.name }}')">Rename</button>
                {% else %}
                  <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="You cannot rename a DM character" disabled>Rename</button>
                {% endif %}
              </td>
              <td>
                {% if character.tag %}
                  {{ character.tag }}
                {% endif %}
              </td>
              <td>
                <button type="button" class="btn btn-outline-success" @click="editTag({{ character.id }}, '{{ character.tag or '' }}')">Set tag</button>
              </td>
              <td>
                {% if character.campaign_id and character.campaign_approved %}
                  <a href="{{ url_for('base.campaign_posts', campaign_id=character.campaign.id) }}" class="btn btn-outline-primary">{{ character.campaign.name }}</a>
                {% elif character.campaign_id and not character.campaign_approved %}
                  Membership pending to "{{ character.campaign.name }}"
                {% else %}
                  Not in a campaign
                {% endif %}
              </td>
              <td>
                {% if not character.campaign_approved %}
                  <form action="{{ url_for('base.profile_characters') }}" method="POST">
                    <input type="hidden" name="field" value="delete">
                    <input type="hidden" name="character_id" value="{{ character.id }}">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-75-percent"><i>Note: you cannot delete a character that is in a campaign.</i></p>
      <br>
    {% else %}
      <p>No created characters</p>
    {% endif %}

    <hr>
    <h3>Create a new character</h3>
    <form action="{{ url_for('base.profile_characters') }}" method="POST">
      <input type="hidden" name="field" value="new_character">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="value" class="form-control">
      </div>
      <button type="submit" class="btn btn-outline-primary">Create</button>
    </form>
  </div>

  <div class="modal fade" id="nameModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{{ url_for('base.profile_characters') }}" method="POST">
          <div class="modal-header">
            <h5 class="modal-title">Rename character</h5>
            <button class="close" type="button" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" name="field" value="name">
              <input type="hidden" v-model="charId" name="character_id">
              <input type="text" class="form-control" name="value" v-model="newName" placeholder="Name">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="tagModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{{ url_for('base.profile_characters') }}" method="POST">
          <div class="modal-header">
            <h5 class="modal-title">Set character tag</h5>
            <button class="close" type="button" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" name="field" value="tag">
              <input type="hidden" v-model="charId" name="character_id">
              <input type="text" class="form-control" name="value" v-model="newTag" placeholder="Tag">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    new Vue({
      el: '#app',
      data: {
        charId: '',
        newTag: '',
        newName: ''
      },
      methods: {
        editName(id, current) {
          this.charId = id
          this.newName = current
          $('#nameModal').modal()
        },
        editTag(id, current) {
          this.charId = id
          this.newTag = current
          $('#tagModal').modal()
        }
      }
    })
  })
</script>

{% endblock %}
