{% extends 'base.jinja2' %}

{% block body %}

<div class="container">
  <h1>Register</h1>
  <br>
  <form action="{{ url_for('base.profile_register') }}" method="POST" id="form-app">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" :class="{'form-control': true, 'is-valid': validEmail, 'is-invalid': !validEmail}" name="email" placeholder="your_address@somewhere.com" v-model="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password (at least 5 characters)</label>
      <input type="password" :class="{'form-control': true, 'is-valid': validPassword, 'is-invalid': !validPassword}" name="password" placeholder="password" v-model="password" required>
    </div>
    <button type="submit" class="btn btn-outline-success" :disabled="!validInput">Register</button>
  </form>
</div>

<script>
  $(document).ready(() => {
    new window.Vue({
      el: '#form-app',
      data: {
        email: '',
        password: ''
      },
      computed: {
        validEmail () {
          return /.+@(?:.+){2,}\.(?:.+){2,}/.test(this.email)
        },
        validPassword () {
          return this.password.length > 5
        },
        validInput () {
          return this.validEmail && this.validPassword
        }
      }
    })
  })
</script>

{% endblock %}
