{% extends 'base.jinja2' %}

{% block body %}

<div class="container">
  <h1>Reset password</h1>
  <br>
  <form action="{{ url_for('base.profile_reset_password') }}" method="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" placeholder="your_address@somewhere.com" required>
    </div>
    <button type="submit" class="btn btn-outline-primary">Send password reset link</button>
  </form>
</div>

{% endblock %}
