<div id="editorApp">
  <form action="{{ url_for('base.campaign_new_post', campaign_id=campaign.id) }}" method="POST">
    <input type="hidden" name="content" v-model="newPost">
    <vue-editor v-model="newPost" :editor-toolbar="toolbar"></vue-editor>
    <button type="submit" class="btn btn-outline-success" :disabled="!valid" style="margin-top: 5px;">Post</button>
  </form>
</div>

<script>
  $(document).ready(() => {
    new Vue({
      el: '#editorApp',
      components: {
        'vue-editor': VueEditor
      },
      data: {
        newPost: '',
        toolbar: [
          ['bold', 'italic'],
          [{ 'header': [false, 3, 6] }],
          [{ list: 'bullet' }],
          [{ color: ['blue', 'black'] }, 'clean']
        ]
      },
      computed: {
        valid () {
          return this.newPost.length > 0 && this.newPost !== '<p><br></p>'
        }
      }
    })
  })
</script>
